-f https://download.pytorch.org/whl/torch_stable.html
ChatterBot==1.0.1
chatterbot-corpus==1.2.0
click==7.1.2
Flask==1.1.2
future==0.18.2
nltk
npm==0.1.1
numpy==1.18.5
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
torchvision
